.custom-table {
  width: 100%;
  border-collapse: collapse;
  font-family: "JetBrains Mono", monospace;
  color: #a7a1a1;
  font-size: 12px;
  height: 50px;
}

.custom-table th,
.custom-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.custom-table th {
  background-color: #212121;
}

.custom-table td.description {
  word-break: break-word;

  .custom-table td {
    vertical-align: top;
  }
}

.header-text-tab1 {
  font-family: "JetBrains Mono", monospace;
  color: #a7a1a1;
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 8px;
}





.custom-table input {
  background-color: transparent;
  width: 100%;
  border: none;
  outline: none;
  color: #a7a1a1;
  font-family: "JetBrains Mono", monospace;
}
