.import-main {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 650px;
  height: 350px;
  background-color: #212121;
  border: 0.01px solid #ffffff;
  border-radius: 5px;
  z-index: 9999;
}

.top-import {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.import-top-text {
  width: 94%;
  height: 30px;
  border: 2px solid transparent;
  border-left: none;
  border-radius: 5px;
  background-color: #212121;
  border: 0.5px solid #cec8c8;
  outline: none;
  font-family: "JetBrains Mono", monospace;
  color: white;
  font-size: 12px;
  padding-top: 5px;
  margin-top: 10px;
  box-sizing: border-box;
}

.import-top-text.active {
  border-color: #097bed;
}

.topbottom-import {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.topbottom-context {
  width: 92%;
  height: 30px;
  background-color: #2b2b2b;
  border-radius: 5px;
  font-family: "JetBrains Mono", monospace;
  color: #a7a1a1;
  font-size: 12px;
  display: flex;
  align-items: center;
  align-content: center;
  margin-top: 10px;
  padding-left: 15px;
  gap: 10px;
}

.middle-import {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.middle-context {
  width: 92%;
  height: 36vh;
  background-color: #212121;
  border-radius: 3px;
  font-family: "JetBrains Mono", monospace;
  color: #a7a1a1;
  font-size: 12px;
  display: flex;
  align-items: center;
  align-content: center;
  margin-top: 10px;
  padding-left: 15px;
  gap: 10px;
  justify-content: center;
  border: 0.01px solid #ddd5d5;
}

.footer-import {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 10px;
  padding-left: 15px;
  padding-top: 8px;
}

.footer-left {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #212121;
  height: 6vh;
  width: 25%;
  font-family: "JetBrains Mono", monospace;
  font-size: 10px;
  gap: 5px;
  color: white;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
}

.footer-left:hover {
  background-color: #303030;
  border-radius: 5px;
}

.footer-left-dropdownheader {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.footer-mid {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  position: relative;
}
.footer-mid-rightside {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-mid-logos {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-mid-import {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #212121;
  height: 6vh;
  width: 25%;
  font-family: "JetBrains Mono", monospace;
  font-size: 10px;
  gap: 5px;
  color: white;
  box-sizing: border-box;
}

.footer-mid-import:hover {
  background-color: #303030;
  border-radius: 5px;
}

.footer-right {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #212121;
  height: 6vh;
  width: 40%;
  font-family: "JetBrains Mono", monospace;
  font-size: 10px;
  gap: 5px;
  color: white;
  padding-left: 5px;
}

.footer-dropdown-list {
  position: absolute;
  bottom: 100%;
  left: 0;
  background-color: #212121;
  width: 113%;
  border: 1px solid #ddd;
  border-radius: 3px;
  z-index: 999;
  margin-bottom: 5px;
}

.footer-item {
  padding: 10px;
  cursor: pointer;
  color: white;
}

.footer-item:hover {
  background-color: #303030;
}

.footer-dropdown-header {
  padding: 6px 9px;
  color: #ccc2c2;
  font-size: 11px;
}

.footer-dropdown-footer {
  padding: 11px 14px;
  color: white;
  font-size: 10px;
  border-top: 1px solid #ddd;
  background-color: #2b2b2b;
}

.footer-item {
  background-color: #212121;
  border-radius: 5px;
  margin: 5px;
}

.footer-left.active {
  border: 2px solid #097bed;
  border-radius: 5px;
  cursor: pointer;
}

.footer-mid-import.active {
  border: 2px solid #097bed;
  border-radius: 5px;
}

.left-drop-span {
  display: flex;
  align-items: center;
}

.mid-drop-span {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.footer-mid-dropdown-list {
  position: absolute;
  bottom: 100%;
  left: 0;
  background-color: #212121;
  width: 120%;
  border: 1px solid #ddd;
  border-radius: 3px;
  z-index: 999;
  margin-bottom: 10px;
  margin-right: 20x;
  margin-left: -5px;
}

.footer-mid-dropdown-header {
  padding: 6px 9px;
  color: #ccc2c2;
  font-size: 11px;
  font-weight: bold;
}

.footer-mid-dropdown-secondheader {
  padding: 6px 9px;
  color: #ccc2c2;
  font-size: 11px;
  font-weight: bold;
  font-size: 11px;
}

.footer-mid-item {
  background-color: #212121;
  border-radius: 5px;
  margin: 5px;
  color: white;
  padding: 5px;
  align-items: center;
  display: flex;
  gap: 5px;
  padding-left: 15px;
}

.footer-mid-item-azure {
  background-color: #212121;
  border-radius: 5px;
  margin: 5px;
  color: white;
  padding: 5px;
  align-items: center;
  display: flex;
  gap: 5px;
  padding-left: 15px;
}

.azure-text {
  margin-left: 20px;
}

.footer-mid-item:hover {
  background-color: #303030;
}

.footer-mid-item-azure:hover {
  background-color: #303030;
}
