.import-main {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 650px;
  height: 350px;
  background-color: #212121;
  border: 0.01px solid #ffffff;
  border-radius: 5px;
  z-index: 9999;
}

.top-import {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.import-top-text {
  width: 94%;
  height: 30px;
  border-left: none;
  border-radius: 5px;
  background-color: #212121;
  border: 0.5px solid #cec8c8;
  outline: none;
  font-family: "JetBrains Mono", monospace;
  color: white;
  font-size: 12px;
  padding-top: 5px;
  margin-top: 10px;
}

.import-top-text.active {
  border: 2px solid #097bed;
}
