.newpopup-main {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 650px;
  height: 350px;
  background-color: #212121;
  border: 0.01px solid #ffffff;
  border-radius: 5px;
  z-index: 9999;
}

.popup-top {
  display: flex;
  height: 40%;
  align-items: center;
  justify-content: center;
  gap: 35px;
  font-size: 12px;
  color: #a7a1a1;
  font-family: "JetBrains Mono", monospace;
  /* flex-direction: column; */
  /* justify-content: space-between; */
}

.popup-top svg {
  font-size: 45px;
  margin-bottom: 10px;
}

.popup-bottom {
  display: flex;
  height: 45%;
}

.popup-footer {
  display: flex;
  height: 10%;
}

.popup-top > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 90px;
  width: 90px;
  cursor: pointer;
  box-sizing: border-box;
}

.photo-1 {
  color: #3fd6e6;
}

.photo-2 {
  color: #f15eb0;
}

.photo-3 {
  color: #74aef6;
}

.photo-4 {
  color: #c77253;
}

.photo-5 {
  color: #ff8e64;
}

.popup-bottom {
  display: flex;
  height: 40%;
  align-items: center;
  justify-content: center;
  gap: 35px;
  font-size: 12px;
  color: #a7a1a1;
  font-family: "JetBrains Mono", monospace;
}

.popup-bottom svg {
  font-size: 35px;
  margin-bottom: 10px;
}

.popup-bottom > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 90px;
  width: 90px;
  cursor: pointer;
  box-sizing: border-box;
}

.photo-6 {
  color: #926cc2;
}

.photo-7 {
  color: #a6a6a6;
}

.photo-8 {
  color: #a6a6a6;
}

.photo-9 {
  color: #a6a6a6;
}

.photo-10 {
  color: #a6a6a6;
}

.popup-http:hover {
  background-color: #002d70;
  border-radius: 10px;
  border: 2px solid #0265d2;
}

.popup-graphql:hover {
  background-color: #002d70;
  border-radius: 10px;
  border: 2px solid #0265d2;
}

.popup-grpc:hover {
  background-color: #002d70;
  border-radius: 10px;
  border: 2px solid #0265d2;
}

.popup-websocket:hover {
  background-color: #002d70;
  border-radius: 10px;
  border: 2px solid #0265d2;
}

.popup-websocket:hover {
  background-color: #002d70;
  border-radius: 10px;
  border: 2px solid #0265d2;
}

.popup-footer {
  display: flex;
  height: 11%;
  background-color: #262626;
  font-size: 11px;
  border-radius: 0 0 10px 10px;
  color: #a7a1a1;
  font-family: "JetBrains Mono", monospace;
  padding: 15px;
}
