.main-div {
  display: flex;
  justify-content: space-between;
  background-color: #262626;
  align-items: center;
  border-bottom: 1px solid #404040;
  font-family: "JetBrains Mono", monospace;
}

.collection {
  display: flex;
  align-items: center;
  gap: 60px;
}

.left-area {
  display: flex;
  flex: 1;
  background-color: #262626;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}

.logo-options {
  padding: 15px;
  display: flex;
  background-color: #262626;
  color: #a7a1a1;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logo-options:hover {
  color: white;
}

.arrow {
  display: flex;
  gap: 20px;
}

.arrow:hover {
  color: white;
}

.left-arrow {
  background-color: #262626;
  color: #a7a1a1;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.left-arrow:hover {
  color: white;
}

.right-arrow {
  background-color: #262626;
  color: #a7a1a1;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.right-arrow:hover {
  color: white;
}

.header-texts {
  display: flex;
  gap: 40px;
  text-align: center;
  align-items: center;
  margin-left: 13px;
  font-family: "JetBrains Mono", monospace;
  font-size: 13px;
  position: relative;
}

.header-texts div {
  padding: 5px 10px;
}

.home-text {
  color: #a7a1a1;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.home-text:hover {
  color: white;
  background-color: #3b3b3b;
  border-radius: 5px;
  cursor: pointer;
}

.workspaces-text {
  display: flex;
  color: #a7a1a1;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-items: center;
  position: relative;
}

.workspaces-text:hover {
  color: white;
  background-color: #3b3b3b;
  border-radius: 5px;
  cursor: pointer;
}

.apinetwork-test {
  color: #a7a1a1;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.apinetwork-test:hover {
  color: white;
  background-color: #3b3b3b;
  border-radius: 5px;
  cursor: pointer;
}

.center-area {
  display: flex;
  flex: 1;
  background-color: #262626;
  align-items: center;
  justify-content: center;
}

.search-box {
  width: 200px;
  height: 30px;
  text-align: center;
  border-radius: 5px;
  background-color: #404040;
  border: none;
  color: white;
  outline: none;
  font-family: "JetBrains Mono", monospace;
}

.right-area {
  display: flex;
  flex: 1;
  background-color: #262626;
  align-items: center;
  justify-content: flex-end;
  padding: 15px;
  gap: 30px;
}

.invite-button {
  display: flex;
  height: 30px;
  width: 70px;
  text-align: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  justify-content: center;
  background-color: #3b3b3b;
  transition: background-color 0.3s ease;
  color: white;
  font-size: 12px;
  font-family: "JetBrains Mono", monospace;
}

.invite-button:hover {
  background-color: #6b6b6b;
}

.invite-logo {
  margin-right: 5px;
  color: white;
  font-size: 13px;
}

.options-logo {
  background-color: #262626;
  color: #a7a1a1;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.options-logo:hover {
  color: white;
}

.noti-logo {
  background-color: #262626;
  color: #a7a1a1;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.noti-logo:hover {
  color: white;
}

.upgrade-button {
  background-color: #3b3b3b;
  transition: background-color 0.3s ease;
  height: 30px;
  width: 70px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 12px;
  font-family: "JetBrains Mono", monospace;
}

.upgrade-button:hover {
  background-color: #6b6b6b;
}

.workspaces-dropdownlist {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #212121;
  height: 892%;
  width: 100%;
  z-index: 999;
  margin-left: 90px;
  border-radius: 5px;
  border: 0.5px solid #cec8c8;
  display: flex;
  flex-direction: column;
}

.ws-dd-header {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.ws-dd-header-inp {
  padding-left: 5px;
}

.ws-dd-inp {
  background-color: #212121;
  outline: none;
  font-family: "JetBrains Mono", monospace;
  text-align: center;
  border-radius: 5px;
  border-bottom: none;
  border-inline: none;
  border: 0.5px solid #cec8c8;
  height: 5vh;
  width: 25vh;
  font-size: 10px;
  text-align: left;
  padding-left: 10px;
  color: #cec8c8;
}

.ws-dd-inp.active {
  border: 2px solid #097bed;
}

.create-ws-button-ins {
  width: 20vh;
  height: 5vh;
  border-radius: 5px;
  font-size: 10px;
  background-color: #3b3b3b;
  font-family: "JetBrains Mono", monospace;
  color: #cec8c8;
  outline: none;
  border-bottom: none;
  border-inline: none;
  border-top: none;
  cursor: pointer;
}

.create-ws-button-ins:hover {
  background-color: #6b6b6b;
}

.ws-dd-middle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #cec8c8;
  font-size: 12px;
}

.middle-head {
  color: #807b7b;
  font-size: 12px;
}

.middle-mid {
  display: flex;
  gap: 10px;
  background-color: #404040;
  width: 100%;
  cursor: pointer;
}

.middle-mid-sec {
  color: #807b7b;
  font-size: 12px;
}

.middle-mid-third {
  color: #807b7b;
  font-size: 11px;
  text-indent: 22px;
}

.ws-dd-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #cec8c8;
  font-size: 12px;
  margin-top: auto;
  border-top: 1px solid #cec8c8;
}

.ws-dd-footer-content {
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 11px;
  cursor: pointer;
}
