.custom-table-tab3 {
  width: 97%;
  border-collapse: collapse;
  font-family: "JetBrains Mono", monospace;
  color: #a7a1a1;
  font-size: 12px;
  height: 50px;
  margin-left: 13px;
}

.custom-table-tab3 th,
.custom-table-tab3 td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.custom-table-tab3 th {
  background-color: #212121;
}

.custom-table-tab3 td.description {
  word-break: break-word;

  .custom-table-tab3 td {
    vertical-align: top;
  }
}

.header-text-tab3 {
  font-family: "JetBrains Mono", monospace;
  color: #a7a1a1;
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 13px;
}

.custom-table-tab3 input {
  background-color: transparent;
  width: 100%;
  border: none;
  outline: none;
  color: #a7a1a1;
  color: white;
  font-family: "JetBrains Mono", monospace;
}
